

/c:/Users/jeral/Documents/MyPython_Devs/creds.json
/c:/Users/jeral/Documents/MyPython_Devs/passwords.txt
/c:/Users/jeral/Documents/MyPython_Devs/proxy_lists.py
/c:/Users/jeral/Documents/MyPython_Devs/proxychains_helper_win32_x64.exe
/c:/Users/jeral/Documents/MyPython_Devs/proxychains_helper_win32_x86.exe
/c:/Users/jeral/Documents/MyPython_Devs/proxychains_hook_x64.dll
/c:/Users/jeral/Documents/MyPython_Devs/proxychains_hook_x86.dll
/c:/Users/jeral/Documents/MyPython_Devs/proxychains.conf
/c:/Users/jeral/Documents/MyPython_Devs/proxychains.exe
/c:/Users/jeral/Documents/MyPython_Devs/cupp
/c:/Users/jeral/Documents/MyPython_Devs/config.py
